{% extends "bootstrap/base.html" %}

{% block title %}Hack-Scouter{% endblock %}

{% block content %} <!-- html -->

<script type="text/javascript">
    function processImage() {
        // Replace <Subscription Key> with your valid subscription key.
        var subscriptionKey = "e42128e1c50948d4b85275a39ffba132";

        // NOTE: You must use the same region in your REST call as you used to
        // obtain your subscription keys. For example, if you obtained your
        // subscription keys from westus, replace "westcentralus" in the URL
        // below with "westus".
        //
        // Free trial subscription keys are generated in the westcentralus region.
        // If you use a free trial subscription key, you shouldn't need to change 
        // this region.
        var uriBase =
            "https://westcentralus.api.cognitive.microsoft.com/face/v1.0/detect";       // Database from AZURE

        // Request parameters.
        var params = {
            "returnFaceId": "true",
            "returnFaceLandmarks": "false",
            "returnFaceAttributes":
                "age,gender,headPose,smile,facialHair,glasses,emotion," +
                "hair,makeup,occlusion,accessories,blur,exposure,noise"
        };

        // Display the image.
        var sourceImageUrl = document.getElementById("inputImage").value;
        document.querySelector("#sourceImage").src = sourceImageUrl;

        // Perform the REST API call.
        $.ajax({
            url: uriBase + "?" + $.param(params),

            // Request headers.
            beforeSend: function(xhrObj){
                xhrObj.setRequestHeader("Content-Type","application/json");
                xhrObj.setRequestHeader("Ocp-Apim-Subscription-Key", subscriptionKey);
            },

            type: "POST",

            // Request body.
            data: '{"url": ' + '"' + sourceImageUrl + '"}',
        })

        .done(function(data) {
            // Show formatted JSON on webpage.
            $("#responseTextArea").val(JSON.stringify(data, null, 2));
            
            var faceAttributes = data[0].faceAttributes;
            var emotion = faceAttributes.emotion;
            var emotion_anger = emotion.anger;
            //var age_number = faceAttributes.age;
            //var accessory_number = faceAttributes.glasses;
            //var anger_number = faceAttributes.emotion.anger;

            //var power = 100 + age_number + anger_number*20;
            
            document.getElementById('param_gender').innerHTML = faceAttributes.gender;
            document.getElementById('param_age').innerHTML = faceAttributes.age;
            document.getElementById('param_accessory').innerHTML = faceAttributes.glasses;
            document.getElementById('param_emotion_anger').innerHTML = emotion_anger;

            //document.getElementById('param_power').innerHTML = power;
            
            console.log(data);

            console.log('gender', faceAttributes.gender);        
            console.log('age', faceAttributes.age);
            console.log('accessory', faceAttributes.glasses);
            console.log('emotion-anger', emotion_anger);

            //console.log('age_number', age_number);        
            //console.log('anger_number', anger_number);
            //console.log('power', power);
            
        })

        .fail(function(jqXHR, textStatus, errorThrown) {
            // Display error message.
            var errorString = (errorThrown === "") ?
                "Error. " : errorThrown + " (" + jqXHR.status + "): ";
            errorString += (jqXHR.responseText === "") ?
                "" : (jQuery.parseJSON(jqXHR.responseText).message) ?
                    jQuery.parseJSON(jqXHR.responseText).message :
                        jQuery.parseJSON(jqXHR.responseText).error.message;
            alert(errorString);
        });
        //document.getElementById("param2").innerHTML = params;  
    };
      
</script>

<h1>Result:</h1>
Insert image: <input type="text" name="inputImage" id="inputImage"

value="https://www.online-idol.com/wp-content/uploads/2018/02/p-%E0%B8%A1%E0%B8%B4%E0%B8%A7%E0%B8%AA%E0%B8%B4%E0%B8%84-BNK48.jpg" />

<button onclick="processImage()">Go Go ~</button><br><br>

<div id="wrapper" style="width:1020px; display:table;">
    <!--
    <div id="jsonOutput" style="width:600px; display:table-cell;">
        Results:<br><br>

       
        <textarea id="responseTextArea" class="UIInput"
                  style="width:580px; height:400px;"></textarea>
              
                
    </div>
    -->  
    <div class="alert alert-success" role="alert">
    <a href="#" class="alert-link">
                 <div id="imageDiv" style="width:420px; display:table-cell;">
                        Source image:<br><br>
                        <img id="sourceImage" width="400" />
                
                
                <h1>Information</h1>
                <a href="#" class="alert-link">Gender: <b id="param_gender"></b> </a><br>
                <a href="#" class="alert-link">Age: <b id="param_age"></b></a><br>
                <a href="#" class="alert-link">Status: <b id="param_accessory"></b></a><br>
                <a href="#" class="alert-link">Estimate power: <b id="param_emotion_anger"></b></a>
    </div>


</div>

{% endblock %}  <!-- html -->
